{% extends "base.html" %}
{% block content %}
{% include 'partials/navbar.html' %}
<h3 class="text-center mt-5 pt-3">Créer Une Article</h3>
<div class="container">
  <div class="col-md-5 m-auto shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class="card card-body shadow p-3 mb-5 bg-body-tertiary rounded">
      <form method="POST" enctype="multipart/form-data"> {% csrf_token %}

        <div class="mb-3">
          <label for="title" class="form-label">Titre</label>
          <input type="text" class="form-control" name="title" required/>
        </div>

        <div class="mb-3">
          <label for="summary" class="form-label">Résumé</label>
          <textarea class="form-control" name="summary" required></textarea>  
        </div>

        <div class="mb-3">
          <label for="floatingTextarea2">Contenu</label>
          <textarea class="form-control" name="content" required></textarea>  
        </div>

        <div class="mb-3">
          <input type="file" class="form-control" aria-label="file example" name="image" required>
          <div class="invalid-feedback">Example invalid form file feedback</div>
        </div>
    

        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-outline-dark">Enregistrer</button>
        </div>

      </form>
    </div>
  </div>
</div>

{% endblock %}

