{% extends "base.html" %}
{% block content %}
{% include 'partials/navbar.html' %}

<div class="pt-5">
  <h1 class="text-center pt-5">Les détails d'un article</h1>
  <div class="container pt-5">
    {% for article in articles %}
    <div>
      <p>Titre :</br> {{ article.title }}</p>
      <p>Résumé :</br> {{ article.summary }}</p>
      <p>Contenu :</br> {{ article.content }}</p>
      <p>Auteur :</br> {{ article.author }}</p>
      <a href="{% url 'page4' article.id %}" class="btn btn-dark">Modifier</a>
      
      <!-- Bouton pour ouvrir la fenêtre modale -->
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal-{{ article.id }}">
        Supprimer
      </button>
      
      <!-- Fenêtre modale -->
      <div class="modal fade" id="deleteModal-{{ article.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Confirmation de suppression</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Êtes-vous sûr de vouloir supprimer cet article ?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
              <form action="{% url 'delete_article' article.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Supprimer</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

