{% extends "base.html" %}
{% block content %}
{% include 'partials/navbar.html' %}

<div class="contai">
  
  <div class="image-details">
    {% if article.image %}
    
      <img src="{{ article.image.url }}" alt="{{ article.title }}" class="img-fluid p-0" alt="Responsive image">
    {% else %}
      <p>Pas d'image</p>
    {% endif %}
  </div>

  <div class="pt-5 pb-5">
    <h3 class="text-center pt-5">Les détails d'un article</h3>
  </div>
    
  <div class="container pt-5">
    <div>
      <p>Titre :</br> {{ article.title }}</p>
      <p>Résumé :</br> {{ article.summary }}</p>
      <p>Contenu :</br> {{ article.content }}</p>
      <p>Auteur : {{ article.author }}</p>
      <p>Creat : {{ article.date_create|date:"d M Y, H:i a" }}</p>
      <p>Update : {{ article.date_updat|date:"d M Y, H:i a" }}</p>

      

    
      {% if user.is_authenticated and user == article.author %}
    

      <form action="{% url 'delete_article' article.id %}" method="POST">{% csrf_token %}
        
        <a href="{% url 'page4' article.id %}" class="btn btn-dark">Modifier</a>
      
        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal-{{ article.id }}">Supprimer</button>
      </form>

    {% endif %}
  
      
      <!-- Bouton pour ouvrir la fenêtre modale -->
      
      <!-- Fenêtre modale -->
      <div class="modal fade" id="deleteModal-{{ article.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Confirmation de suppression</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Êtes-vous sûr de vouloir supprimer cet article ?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
              <form action="{% url 'delete_article' article.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger">Supprimer</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endblock %}

  {% if user.is_authenticated and user == article.author %}
      <a href="{% url 'update_article' article.id %}">Modifier</a>
      <form action="{% url 'delete_article' article.id %}" method="POST">
          {% csrf_token %}
          <button type="submit">Supprimer</button>
      </form>
{% endif %}



