{% extends "base.html" %}
{% block content %}
{% include 'partials/navbar.html' %}
<h3 class="text-center mt-5 pt-3">Modifier Détails Article</h3>

<div class="container">
  <div class="col-md-5 m-auto">
    <div class="card card-body">
      <form method="POST" action="{% url 'page4' articles.id %}"> {% csrf_token %}

        <div class="mb-3">
          <label for="title" class="form-label">Titre</label>
          <input type="text" class="form-control" name="title" value="{{ articles.title }}"/>
        </div>

        <div class="mb-3">
          <label for="summary" class="form-label">Résumé</label>
          <textarea class="form-control" name="summary" >{{ articles.summary }}</textarea>  
        </div>

        <div class="mb-3">
          <label for="floatingTextarea2">Contenu</label>
          <textarea class="form-control" name="content">{{ articles.content }}</textarea>  
        </div>

        <button type="submit" class="btn btn-dark">Modifier</button>
        <a class="btn btn-outline-danger">Annuler</a>
        
      </form>
    </div>
  </div>
</div>

{% endblock %}
