{% extends "base.html" %}
{% block content %}

<div class="m-auto pt-5">
  <h3 class="text-center">Login</h3>
  <div class="container">

    <div class="col-md-5 m-auto">
      <div class="card card-body">
        <form method="POST"> {% csrf_token %}

          <div class="mb-3">
            <label class="form-label">Username</label>
            <input class="form-control" name="username"/>  
          </div>

          <div class="mb-3">
            <label class="form-label">Password</label>
            <input class="form-control" name="password" type="password"/>
          </div>

          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-dark">Connexion</button>
          </div>
        </form>

        <p class="text-center mt-3">
          Avez-vous un compt ? <a href="{% url 'signup' %}">Sign up</a>
        </p>
        
      </div>
    </div>
</div>

{% endblock %}




<div class="m-auto">
  <h3 class="text-center">Login</h3>

  <div class="container">
    <div class="row">
      <div class="card col-md-5 col-auto m-auto">
        <form action="{% url 'login' %}" method="POST">
          {% csrf_token %}
          <div class="form-groupl-1">
            {{ form.as_p }}
          </div> 

          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-dark">Connexion</button>
          </div>
          
        </form> 

        <p>
          Avez-vous un compt ? <a href="{% url 'signup' %}">Sign up</a>
        </p>
      </div>
    </div>
  </div>
</div>




