{% extends "base.html" %}
{% block content %}

<div class="mt-2">
  <h3 class="text-center">Sign Up</h3>
  <div class="container">
    <div class="row">
      <div class="card col-md-5 col-auto m-auto">
        <form action="{% url 'signup' %}" method="post">
          {% csrf_token %}
          <div class="form-groupl-1">
            {{ form.as_p }}
          </div>

          <div class="d-grip gap-2">
            <button type="submit" class="btn btn-dark">Creer</button>
          </div>

          <div class="text-center pb-3">
            Avez-vous un compt ? <a href="{% url 'login' %}">Login</a>
          </div>
        
        </form> 
      </div>
    </div>
  </div>
</div>
{% endblock %}








<!--
<div class="col-md-5 m-auto">
  <div class="card card-body">
    <form method="POST"> {% csrf_token %}

      <div class="mb-3">
        <label  class="form-label">Last Name</label>
        <input type="text" class="form-control" name="lastname" required/>
      </div>

      <div class="mb-3">
        <label class="form-label">Firstnme</label>
        <input class="form-control" name="firstname" required/>  
      </div>

      <div class="mb-3">
        <label class="form-label">Username</label>
        <input class="form-control" name="username" value=""/>  
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>
        <input class="form-control" name="password1" type="password" value=""/>
      </div>

      <div class="mb-3">
        <label class="form-label">Confimation password</label>
        <input class="form-control" name="password2" type="password"/>
      </div>

      <div class="d-grip gap-2">
        <button type="submit" class="btn btn-dark">Creer</button>
      </div>

      <div class="text-center">
        Avez-vous un compt ?<a href="{% url 'login' %}">Login</a>
      </div>

    </form>
    
  </div>
</div>

-->
