{% extends "base.html" %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BLOG</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarNavDropdown" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'page1' %}">Liste des Articles</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'page3' %}">Ajouter Une Article</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
       
        <li class="nav-item dropdown">
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'page1' %}">Liste des Articles</a></li>
            <li><a class="dropdown-item" href="#">destails Articles</a></li>
            <li><a class="dropdown-item" href="{% url 'page3' %}">Ajouter un Article</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% endblock %}



<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BLOG</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarNavDropdown" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Article</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'page1' %}">Contact</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'page3' %}">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
       
        <li class="nav-item dropdown">
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'page1' %}">Liste des Articles</a></li>
            <li><a class="dropdown-item" href="#">destails Articles</a></li>
            <li><a class="dropdown-item" href="{% url 'page3' %}">Ajouter un Article</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
