{% extends "base.html" %}
{% block content %}

{% include 'partials/navbar.html' %}

<div class="cont">
  <div class="container container-fluid p-0 mt-4">
    <img src="https://www.organic-farm.co.jp/images/material/bnr_blog.jpg" alt="image" class="img-fluid w-100">
  </div>

  <div class="p-4">
    <h2 class="text-center container p-md-3">BIENVENU SUR NOTRE BLOG</h2>
  </div>

  <div class="border border-dark p-3 m-4 border-opacity-75 rounded-4 ">
    <p>Chers lecteurs,<br/>

      Nous sommes ravis de vous accueillir sur notre blog, un espace dédié à 
      l'échange et à la découverte. Ici, vous trouverez des articles variés sur 
      des sujets passionnants comme la technologie, l'art, et l'éducation.

      Nous voulons créer une communauté où chacun peut partager ses idées et 
      apprendre des autres. N'hésitez pas à explorer, commenter, et partager 
      les articles qui vous plaisent.<br/>
  
      Merci de nous rejoindre dans cette aventure. Ensemble, faisons de ce blog 
      un lieu dynamique et enrichissant.<br/>
    
      Avec gratitude,<br/>
    
      L'équipe du Blog<br/>
    </p>
  </div>

  <div class="text-center pb-5">
    <a href="{% url 'page1' %}" class="btn btn-dark">aller à...</a>
  </div>
</div>

{% endblock %}

