{% extends "base.html" %}
{% block content %}

{% include 'partials/navbar.html' %}

<div class="cont">
  <div class="container shadow p-3 mb-5 bg-body-tertiary rounded">
    <img src="https://www.organic-farm.co.jp/images/material/bnr_blog.jpg" alt="image" class="img-fluid w-100">
  </div>
  <div class="container">
    <p>Chers lecteurs,<br/>

    Bienvenue sur Notre Blog !

    <p>Sur ce blog, nous plongeons au cœur de l'univers fascinant de la technologie informatique. Notre mission est de vous guider à travers les complexités de l'informatique moderne, en vous fournissant des analyses approfondies, des critiques de produits, et des informations pertinentes sur tout ce qui concerne les systèmes informatiques.</p></br>

    <span>Qui sommes-nous ?</span></br>

    <p>Nous sommes une équipe de passionnés et d’experts en informatique, alliant compétences techniques et curiosité intellectuelle. Notre expertise couvre un large éventail de sujets allant des architectures des systèmes aux logiciels, en passant par les réseaux et la cybersécurité. Nous avons pour ambition de rendre l'informatique accessible et passionnante pour tous, qu'il s'agisse de professionnels aguerris ou de curieux en quête de connaissances.</p></br>


    <span>Analyses et Critiques :</span>  
    <p>Nous examinons en profondeur les dernières innovations en matière de matériel et de logiciels informatiques. De l’évaluation des nouvelles générations de processeurs aux critiques des logiciels de gestion, nous vous offrons des perspectives claires et détaillées pour vous aider à comprendre et choisir les meilleures solutions informatiques.</p></br>

    <span>Actualités et Tendances :</span> 
    <p>Restez à jour avec les développements les plus récents dans le monde de l'informatique. Nous couvrons les nouvelles technologies, les mises à jour importantes, et les tendances qui façonnent l'avenir de l'informatique, vous permettant de rester informé et préparé face aux évolutions rapides du secteur.</p></br>

    <span>Guides et Tutoriels :</span> 
    <p>Nos guides pratiques et tutoriels sont conçus pour vous aider à maîtriser les outils informatiques, à résoudre les problèmes courants et à optimiser vos systèmes. Que vous cherchiez à améliorer vos compétences en programmation, à configurer un réseau ou à sécuriser vos données, nous avons des ressources pour vous accompagner.</p></br>

    <span>Cybersécurité et Protection des Données :</span> 
    <p>Avec la montée des cybermenaces, la sécurité informatique est plus cruciale que jamais. Nous vous fournissons des conseils et des stratégies pour protéger vos données et assurer la sécurité de vos systèmes.</p>

    <span>Notre vision :</span></br>

    <p>Nous croyons que l'informatique est la clé de l'innovation et de la résolution de problèmes dans le monde moderne. Notre objectif est de démystifier les concepts informatiques complexes, de stimuler la curiosité et de partager notre passion pour la technologie avec notre communauté.</p>

    <p>Merci de visiter notre Blog. Nous vous invitons à explorer nos articles, à partager vos opinions, et à vous abonner pour ne rien manquer de nos dernières publications. Votre engagement est notre moteur et nous inspire à continuer d'explorer les merveilles du monde informatique.</p>

    À très bientôt sur [Nom du Blog] !</br>

    <p>L’équipe [Nom du Blog]</p>

  </div>

  <div class="text-center pb-5">
    <a href="{% url 'page1' %}" class="btn btn-dark">aller à...</a>
  </div>
</div>

<div id="carouselExampleFade" class="carousel slide carousel-fade rounded">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://i.pinimg.com/564x/da/d1/42/dad14260fd848b92353836b7101f88bd.jpg" class="d-block w-100" alt="image 1">
    </div>
    <div class="carousel-item">
      <img src="https://i.pinimg.com/564x/ad/d9/d7/add9d7af4f62001c1cd3f831216bb4dc.jpg" class="d-block w-100" alt="image 2">
    </div>
    <div class="carousel-item">
      <img src="https://i.pinimg.com/736x/7c/8a/5c/7c8a5cc61e919dc25eb1a794460b735d.jpg" class="d-block w-100" alt="image 3">
    </div>
    <div class="carousel-item">
      <img src="https://i.pinimg.com/564x/8b/ee/af/8beeafe15422ea45639a5565f69576bd.jpg" class="d-block w-100" alt="image 4">
    </div>
    
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="footer text-center py-3 shadow p-3 mb-5 bg-body-tertiary rounded mt-5">
  <p>&copy; 2024 BlogTech. Tous droits réservés.</p>
</div>


{% endblock %}

<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://i.pinimg.com/564x/62/45/38/6245386771a1f92714f9f2bce7afbf4c.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://i.pinimg.com/564x/ad/d9/d7/add9d7af4f62001c1cd3f831216bb4dc.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://i.pinimg.com/564x/a1/09/f0/a109f06c1dc2dc6dfe3ca31115540fea.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>